In [16]:
L=[]
nbr=0
somme=0
for i in range (700,1100):
    if (i%7 == 0) and (i%2 != 0) and (i%5 != 0):
        L.append(i)
        nbr += 1
print(L)
print(somme)
print(nbr)

[707, 721, 749, 763, 777, 791, 819, 833, 847, 861, 889, 903, 917, 931, 959, 973, 987, 1001, 1029, 1043, 1057, 1071, 1099]
0
23

In [18]:
L=[]
nbr=0
somme=0
for i in range (700,1100):
    if (i%7 == 0):
        if (i%2 == 0):
            continue
            if (i%5 == 0):
                continue
    L.append(i)
    nbr += 1
print(L)
print(somme)
print(nbr)

[701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1093, 1094, 1095, 1096, 1097, 1098, 1099]
0
371

In [ ]:
start=input("start")

In [32]:
start=int(input("start"))
end=int(input("end"))

for i in range (start,end+1):
    if i < 0:
        print(i)

start -15
end 0

-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [35]:
L1=[11,5,17,18,23,50]
for i in L1:
    if i%2 == 0:
        L1.remove(i)
print(L1)

[11, 5, 17, 23]

In [42]:
d=input()
l = [i for i in d]
for i in l:
    x=0
    for j in l:
        if i==j:
            x += 1
    if x > 1:
        break
print(i)
print(l)

 1233

3
['1', '2', '3', '3']

In [43]:
# ou
n = int(input("saisir un entier: "))
etat = True
if n > 0:
    ch = str(n)
    for lettre in ch:
        if ch.count(lettre) > 1:
            etat = False
            break
    if etat == True:
        print(n, " est distinct")
    else:
        print(n, " est non distinct")

saisir un entier:  45646

45646  est non distinct

In [59]:
list=[2,3,6]
x=1
for i in list:
    x *= i
print(x)

36

In [66]:
List = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
List.sort(key=lambda x:x [-1])
print(List)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [67]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3={}
for key in d1:
        if key in d2:
            d2[key]+=d1[key]
print(d2)

{'a': 400, 'b': 400, 'd': 400}

In [70]:
for i in range (1,9):
    dict1[i]=i**2
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [76]:
tup= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
tup.sort(key=lambda x:x[-1])
tup.sort(reverse= True)
print(tup)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]